{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<h1 class="sub_title">Add Catalog</h1>
	<form action="#" method = "post">
		<div class="form_sec">
		<label for="name">Name:</label>
		<input type ="text" maxlength="50" name="name" placeholder="Item name">
		</div>
		<div>
<!-- 			<input type="submit" name="submit">
 -->		<button type="submit" class="button" id="submit" type="submit"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
		</div>
	</form>


{% endblock %}